.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20em;
    border: 2px dashed #555;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    animation-name: slideInFromTop;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .inputTitle {
    color: #444;
  }

  input[type=file]::file-selector-button {
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }

  
@keyframes slideInFromTop {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}