  .container {
    display: flex;
  }
  
  .inputContainer { 
    position:relative; 
    margin-bottom:45px; 
    opacity: 0;
    transform: translateY(-20px);
    animation-name: slideInFromTop;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#080341;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:5em; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ==================================*/

  @keyframes inputHighlighter {
      from { background:#080341; }
    to 	{ width:0; background:transparent; }
  }

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
